/*----------------------------------burger--------------------------------*/
.burger {
    display: none;
    @include table {
            width: 36px;
            height: 36px;
            flex: 0 0 auto;
            border-radius: 12px;
            position: relative;
            display: block;
            z-index: 9;
            margin-left: 0;
            order: -1;
            cursor: pointer;
            border: 1px solid var(--color-red);
            &__line {
                height: 2px;
                width: 20px;
                position: absolute;
                transition: all 0.3s ease 0s;
                background: var(--color-red);
                transform: translate(-50%, -50%);
                border-radius: 1px;
                &:first-child {
                    left: 50%;
                    top: 25%;
                }
                &:nth-child(2) {
                    left: 35%;
                    top: 50%;
                    width: 10px;
                }
                &:last-child {
                    left: 50%;
                    top: 75%;
                }
            }
    }
}

/*----------------------------------burger--------------------------------*/