/*---------------------------------------catalog----------------------------*/
.catalog {

    .title {
        margin-bottom: 24px;
        font-weight: 500;
        @include fluid-text(16, 32);
        line-height: 125%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            font-style: normal;
            color: #979797;
            font-weight: 400;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        align-items: start;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__slider {
        min-width: 0;
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        @include desktop {
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }
    }
}
.values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 16px;
    &__inner {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid #c8c8c8;
        border-radius: 20px;
        padding: 16px 24px;
        input {
            width: 100%;
        }
    }
}
.filter {
    border: 1px solid #dedede;
    border-radius: 28px;
    padding: 24px 16px;
    max-width: 300px;
    &__slider {
        padding-bottom: 30px;
    }
    &__button {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #F3F3F3;
        padding: 6px 10px;
        border-radius: 8px;
        cursor: pointer;
        display: none;
        @include mobile {
            display: block;
        }
    }
    @include mobile {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: opacity 0.2s ease-in-out;
        max-width: 100%;
    }
}
.open {
    visibility: visible;
    opacity: 1;
    position: static;
}
.noUi-target {
    background: #DEDEDE;
    border-radius: 20px;
    border: none;
    box-shadow: none;
}
.noUi-connect {
    background: var(--color-red);
}
.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    right: -5px;
    top: -5px;
}
.noUi-handle {
    width: 18px;
    height: 18px;
    background: var(--color-white); 
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.noUi-handle:after, .noUi-handle:before {
    display: none;
}
.noUi-horizontal {
    height: 8px;
}
.noUi-target, .noUi-handle {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border: none;
}

.control {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.control .swiper-button-prev {
    left: 0;
}
.control .swiper-button-next {
    right: 70%;
    @include mobile {
        right: 0;
    }
}
.control .swiper-button-next,
.control .swiper-button-prev {
   background-color: var(--color-white);
   border: 1px solid #ebecef;
   border-radius: 6px;
   width: 30px;
   height: 30px;
   padding: 5px;
   transition: All 0.3s ease 0s;
   top: 99%;
   @include hover {
    background-color: var(--color-red);
   }
}
.control .swiper-button-next::after,
.control .swiper-button-prev::after {
    color: var(--color-black);
    font-size: 15px;
}
.control__numbers {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
    margin-bottom: -9px;
}
.control__number {
    border: 1px solid #ebecef;
    border-radius: 6px;
    padding: 8px 12px;
    margin-left: 50px;
}
.control__number.active {
    color: var(--color-red);
}
/*---------------------------------------catalog----------------------------*/