/*----------------------------------checkbox--------------------------------*/
.checkbox {
    display: block;
    margin-bottom: 16px;
    &._error .checkbox__label::before {
        border: 1px solid red;
    }
    &__input {
        display: none;
        transition: transform 0.2s ease-in-out;
        &:checked + .checkbox__label::after {
            transform: rotate(45deg) scale(1);
        }
        &:checked + .checkbox__label::before {
            background-color: var(--color-black);
        }
    }
    &__label {
        @include fluid-text(12, 14);
        line-height: 140%;
        display: inline-flex;
        align-items: center;
        width: 100%;
        position: relative;
        cursor: pointer;
        font-weight: 500;
        &__text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            white-space: nowrap;
        }
        &::before {
            content: '';
            align-self: flex-start;
            flex: 0 0 24px;
            height: 24px;
            margin-right: 10px;
            border: 1px solid #c8c8c8;
            border-radius: 8px;
            background: var(--color-white);
            position: relative;
        }
        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 12px;
            border: solid var(--color-white);
            border-width: 0 2px 2px 0;
            top: 4px;
            left: 8px;
            transform: rotate(45deg) scale(0);
        }
    }
}

/*----------------------------------checkbox--------------------------------*/