/*----------------------------------form--------------------------------*/
.form {
    max-width: 670px;
    margin: 0 auto;
    color: var(--color-black);
    border-radius: 5px;
    margin-bottom: 16px;
    position: relative;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__item {
        @include mobile {
            width: 100%;
         }
    }
    &__label {
        font-size: 14px;
        display: block;
        margin-bottom: 10px;
    }
    &__input {
        width: 100%;
        padding: 10px 16px;
        transition: all 0.3s ease 0s;
        border: 1px solid #c8c8c8;
        border-radius: 16px;
        &._error {
            border: 1px solid var(--color-red);
        }
    }
    &__error {
        font-size: 16px;
        color: red;
        opacity: 0;
    }
    &__error.view {
        opacity: 1;
    }
    &__textarea {
        resize: none;
        margin-bottom: 16px;
    }
    &__button {
        width: 196px;
        padding: 10px;
        background-color: var(--color-red);
        cursor: pointer;
        color: var(--color-white);
        border-radius: 16px;
        font-weight: 500;
        font-size: 14px;
        transition: all 0.3s ease;
        @include hover {
            background-color: #c41f25;
        }
        @include mobile {
            width: 100%;
        }
    }
    .checkbox__text {
        display: flex;
        gap: 5px;
        font-style: italic;
        font-weight: 500;
        font-size: 12px;
        line-height: 133%;
        a {
            text-decoration: underline;
        }
        @include mobile {
            flex-wrap: wrap;
        }
    }
}
.section-form {
    &__wrapper {
        background-color: var(--color-gray);
        padding: 32px 16px;
        border-radius: 40px;
        @include mobile {
            border-radius: 24px;
        }
    }
    &__email {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-weight: 700;
        @include fluid-text(16, 20);
        line-height: 120%;
        a {
            display: inline-block;
            color: var(--color-red);
        }
    }
}
/*----------------------------------form--------------------------------*/