/*----------------------------------global--------------------------------*/
body.lock {
    overflow: hidden;
}
body { 
    font-family: var(--font-family-base); 
    font-size: 14px;
    font-weight: 500; 
    color: var(--color-black); 
    background: var(--color-white);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0px 16px;
}
.section {
    padding: 50px 0px;
    @include mobile {
        padding: 20px 0px;
    }
}
._ibg {
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        border-radius: 24px;
    }
}
.title {
    @include fluid-text(16, 48);
    line-height: 117%;
    color: var(--color-black);
    font-weight: 700;
    span {
        color: var(--color-red);
        font-style: italic;
        font-weight: 800;
        text-transform: uppercase;
    }
}
.subtitle {
    @include fluid-text(24, 32);
    line-height: 150%;
    text-align: center;
    margin-bottom: 24px;
    font-weight: 700;
    span {
        text-transform: uppercase;
        font-style: italic;
    }
}
.button {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 20px;
    padding: 16px 32px;
    @include mobile {
        padding: 12px 32px;
        position: absolute;
        bottom: -80px;
        width: 100%;
    }
}
.button-filled {
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    color: var(--color-white);
    @include hover {
        background-color: #c41f25;
    }
}

/*----------------------------------global--------------------------------*/