/*----------------------------------header--------------------------------*/
.header {
    position: fixed;
    width: 100%;
    &__content {
        position: relative;
    }
    &__top {
       height: 44px;
       @include table {
        display: none;
    }
    }
    &__block {
        position: absolute;
        top: 16px;
        left: 16px;
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        font-size: 12px;
        @include table {
            position: relative;
            display: block;
        }
    }
    &__box {
        display: flex;
        align-items: center;
        gap: 6px;
        address {
            margin-bottom: 0;

            span {
                color: #8B8B8B;
            }
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 16px;
        margin: 16px 0px;
    }
    &__logo {
        z-index: 3; 
    }
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: absolute;
        top: 16px;
        right: 16px;
        gap: 16px;
        font-size: 12px;
        @include table {
            position: relative;
            display: block;
        }
    }
    &__link {
        transition: All 0.5s ease 0s;
        @include hover {
            color: var(--color-black);
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        gap: 14px;
    }
}
/*----------------------------------header--------------------------------*/