/*----------------------------------search--------------------------------*/
.search {
    border: 1px solid #c8c8c8;
    border-radius: 16px;
    padding: 8px 16px;
    flex-basis: 740px;
    &__box {
        flex: none;
        z-index: 4;
    }
    &__label {
        span {
            display: none;
        }
    }
    &__label_input {
        width: 100%;
        @include fluid-text(12, 14);
        &::placeholder {
            @include fluid-text(12, 14);
        }
    }
    &__label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-blue);
        font-size: 18px;
    }
    @include mtable {
 
    }
}
   
/*----------------------------------search--------------------------------*/