/*---------------------------------------sliders----------------------------*/
.main-slider {
  overflow: hidden;
  position: relative;
}
/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.swiper-slide {
  height: auto;
}
/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.swiper-button-next,
.swiper-button-prev {
  top: 50%;
}
.swiper-button-next {
  right: 16px;
}
.swiper-button-prev {
  left: 16px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  padding: 16px 20px;
  border-radius: 16px;
  background-color: var(--color-black);
}
.main-slider .swiper-pagination-bullet {
  opacity: 1;
  background-color: var(--color-white);
  transition: All 0.5s ease 0s;
  width: 9px;
  height: 9px;
  border: 1px solid inherit;
}
.main-slider .swiper-pagination-bullet-active {
  background-color: var(--color-red);
  border: 1px solid var(--color-white);
}

/*---------------------------------------sliders----------------------------*/