/*---------------------------------------tabs----------------------------*/
  .tabs {
    display: flex;
    flex-direction: column;
    &--mod { 
      .tab-labels__inner {
        border: none;
        padding: 0px;
      }
      .tab-labels {
        display: flex;
        justify-content: start;
        gap: 16px;
        width: 100%;
        min-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none; 
      }
    
      .tab-labels::-webkit-scrollbar {
        display: none;
      }
    
      .tab-labels__inner {
        display: flex;
        min-width: max-content; 
      }
      .tab-label {
        width: auto;
        color: var(--color-black);
        text-transform: none;
        background-color: var(--color-gray);
        padding: 16px 24px;
        white-space: nowrap;
        @include fluid-text(12, 16);
    
        &:not(:last-child) {
          margin-right: 15px;
        }
        @include mobile {
          border-radius: 12px;
          padding: 12px 16px;
        }
      }
      .tab-content {
        padding: 0px;
      }
    }
  }
  .tab-labels {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
    &__inner {
      border: 1px solid var(--color-red);
      padding: 4px;
      border-radius: 20px;
      display: flex;
      align-items: center;
    }
  }
  .tab-label {
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
    border-radius: 16px;
    text-transform: uppercase;
    color: var(--color-red);
    width: 220px;
    font-weight: 500;
    @include fluid-text(12, 14);
    line-height: 171%;
    @include mobile {
       width: 165px;
       padding: 8px 5px;
    }
  }
  .tab-label:hover {
    background-color: #e2e2e270;
  }
  .tab-content {
    display: none;
    padding: 20px;
  }
  .tab-content .easy__info {
    flex-basis: 1280px;
  }
  .tab-content .easy__image {
    flex-basis: 600px;
  }
  #tab-1:checked ~ .content-1,
  #tab-2:checked ~ .content-2,
  #tab-3:checked ~ .content-3,
  #tab-4:checked ~ .content-4,
  #tab-5:checked ~ .content-5 {
    display: block;
  }
  #tab-1:checked ~ .tab-labels label[for="tab-1"],
  #tab-2:checked ~ .tab-labels label[for="tab-2"],
  #tab-3:checked ~ .tab-labels label[for="tab-3"],
  #tab-4:checked ~ .tab-labels label[for="tab-4"],
  #tab-5:checked ~ .tab-labels label[for="tab-5"] {
    background-color: var(--color-black);
    color: var(--color-white);
  }
  input[type="radio"] {
    display: none;
  }
/*---------------------------------------tabs----------------------------*/