/*---------------------------------------tabs----------------------------*/
  .tabs {
    display: flex;
    flex-direction: column;
  }
  .tab-labels {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
    &__inner {
      border: 1px solid var(--color-red);
      padding: 4px;
      border-radius: 20px;
      display: flex;
      align-items: center;
    }
  }
  .tab-label {
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
    border-radius: 16px;
    text-transform: uppercase;
    color: var(--color-red);
    width: 220px;
    font-weight: 500;
    @include fluid-text(12, 14);
    line-height: 171%;
    @include mobile {
       width: 165px;
       padding: 8px 5px;
    }
  }
  .tab-label:hover {
    background-color: #e2e2e270;
  }
  .tab-content {
    display: none;
    padding: 20px;
  }
  .tab-content .easy__info {
    flex-basis: 1280px;
  }
  .tab-content .easy__image {
    flex-basis: 600px;
  }
  #tab-1:checked ~ .content-1,
  #tab-2:checked ~ .content-2,
  #tab-3:checked ~ .content-3 {
    display: block;
  }
  #tab-1:checked ~ .tab-labels label[for="tab-1"],
  #tab-2:checked ~ .tab-labels label[for="tab-2"],
  #tab-3:checked ~ .tab-labels label[for="tab-3"] {
    background-color: var(--color-red);
    color: var(--color-white);
  }
  input[type="radio"] {
    display: none;
  }
/*---------------------------------------tabs----------------------------*/