/*----------------------------------Переменные--------------------------------*/
:root {
    --color-black: #333333;
    --color-white: #FFFFFF;
    --color-gray: #F8F8F8;
    --color-red: #DF2127;
    --border: 1px solid var(--color-black);
    --border-radius: 16px;
    --border-radius-small: 10px;
    --shadow: 0px 0px 20px 0px var(--color-black);
    --font-family-base: 'Inter', Arial, sans-serif;
    --container-width: 1312px;
}
/*----------------------------------Переменные--------------------------------*/