@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

h1, h2, h3, h4, h5, h6, p, address, cite, span, ul, li {
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  margin-bottom: 0px;
}

/*-----------------------------------обнуляющие стили--------------------------------*/
/*----------------------------------Шрифты--------------------------------*/
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.woff2") format(woff2);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/*----------------------------------Шрифты--------------------------------*/
/*----------------------------------Переменные--------------------------------*/
:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray: #F8F8F8;
  --color-red: #DF2127;
  --border: 1px solid var(--color-black);
  --border-radius: 16px;
  --border-radius-small: 10px;
  --shadow: 0px 0px 20px 0px var(--color-black);
  --font-family-base: "Inter", Arial, sans-serif;
  --container-width: 1312px;
}

/*----------------------------------Переменные--------------------------------*/
/*----------------------------------global--------------------------------*/
body.lock {
  overflow: hidden;
}

body {
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black);
  background: var(--color-white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0px 16px;
}

.section {
  padding: 50px 0px;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}

.title {
  font-size: clamp(16px, 3.3333333333vw, 48px);
  line-height: 117%;
  color: var(--color-black);
  font-weight: 700;
}
.title span {
  color: var(--color-red);
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
}

.subtitle {
  font-size: clamp(24px, 2.2222222222vw, 32px);
  line-height: 150%;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 700;
}
.subtitle span {
  text-transform: uppercase;
  font-style: italic;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 20px;
  padding: 16px 32px;
}
@media (max-width: 768px) {
  .button {
    padding: 12px 32px;
    position: absolute;
    bottom: -80px;
    width: 100%;
  }
}

.button-filled {
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
  color: var(--color-white);
}
@media (hover: hover) {
  .button-filled:hover {
    background-color: #c41f25;
  }
}

/*----------------------------------global--------------------------------*/
/*----------------------------------header--------------------------------*/
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-bottom: 16px;
  background-color: var(--color-white);
}
@media (max-width: 1024px) {
  .header {
    border-bottom: 1px solid #cacaca;
  }
}
.header__content {
  position: relative;
}
.header__top {
  height: 30px;
}
@media (max-width: 1024px) {
  .header__top {
    display: none;
  }
}
.header__block {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 12px;
}
@media (max-width: 1024px) {
  .header__block {
    position: relative;
    display: block;
    margin-bottom: 16px;
  }
}
.header__box {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease 0s;
}
.header__box address {
  margin-bottom: 0;
}
.header__box address span {
  color: #8B8B8B;
}
@media (hover: hover) {
  .header__box:hover {
    color: var(--color-red);
  }
}
@media (max-width: 1024px) {
  .header__box {
    margin-bottom: 10px;
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 16px;
  margin: 16px 0px;
}
@media (max-width: 1024px) {
  .header__body {
    gap: 8px;
    align-items: center;
    margin-bottom: 0px;
  }
}
.header__logo {
  z-index: 3;
  flex: none;
}
@media (max-width: 1024px) {
  .header__logo {
    width: 128px;
  }
}
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 16px;
  right: 16px;
  gap: 16px;
  font-size: 12px;
}
.header__links a {
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .header__links a:hover {
    color: var(--color-red);
  }
}
@media (max-width: 1024px) {
  .header__links {
    position: relative;
    display: block;
    margin-bottom: 40px;
    left: 16px;
  }
  .header__links :first-child {
    margin-bottom: 10px;
  }
}
.header__bottom {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--color-red);
}
.header__contacts {
  margin-left: 16px;
  display: none;
}
@media (max-width: 1024px) {
  .header__contacts {
    display: block;
  }
}
.header__contact {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.header__contact-icon {
  background-color: var(--color-red);
  padding: 4px;
  border-radius: 12px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__contact-links {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 5px;
}
.header__contact-box {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex: none;
}
@media (max-width: 1024px) {
  .header__inner {
    gap: 8px;
  }
}
.header__call {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-red);
  padding: 8px 25px;
  white-space: nowrap;
  color: var(--color-white);
  border-radius: 16px;
  transition: all 0.3s ease 0s;
  flex: none;
}
@media (hover: hover) {
  .header__call:hover {
    background-color: #c41f25;
  }
}
@media (max-width: 1024px) {
  .header__call {
    padding: 6px;
    border-radius: 12px;
  }
  .header__call span {
    display: none;
  }
}
.header__icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #878787;
  border-radius: 12px;
  padding: 8px;
  position: relative;
  transition: all 0.3s ease 0s;
  display: inline-block;
  flex: none;
}
@media (hover: hover) {
  .header__icon:hover {
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
  }
}
@media (max-width: 1024px) {
  .header__icon {
    padding: 6px;
    border-radius: 10px;
    height: 38px;
  }
}
.header__icon-numb {
  position: absolute;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 3px 4px;
  border-radius: 50%;
  bottom: 4px;
  right: 4px;
  font-weight: 700;
  font-size: 10px;
  line-height: 80%;
}
@media (max-width: 1024px) {
  .header__icon-numb {
    bottom: 0;
    right: 0;
    padding: 4px 6px;
  }
}
@media (max-width: 1024px) {
  .header__icon--favourites {
    display: none;
  }
}
.header__catalog {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-red);
  border-radius: 16px;
  padding: 8px 48px;
  border: 1px solid var(--color-red);
}
@media (max-width: 1024px) {
  .header__catalog {
    display: none;
  }
}

.massangers {
  margin-left: 16px;
  display: none;
}
@media (max-width: 1024px) {
  .massangers {
    display: block;
  }
}
.massangers__wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 26px;
}

/*----------------------------------header--------------------------------*/
/*----------------------------------search--------------------------------*/
.search {
  border: 1px solid #c8c8c8;
  border-radius: 16px;
  padding: 8px 16px;
  flex-basis: 740px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.search__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.search__block-close {
  display: none;
}
@media (max-width: 1024px) {
  .search {
    order: -1;
  }
}
@media (max-width: 768px) {
  .search {
    border: none;
    flex-basis: 25px;
    padding: 0px;
  }
  .search._act {
    flex-basis: 100%;
  }
  .search._act .search__block {
    position: absolute;
    top: 0;
    right: 0;
    left: 65px;
    background-color: var(--color-white);
    z-index: 9;
    padding: 3px 10px 5px 0px;
  }
  .search._act .search__block-close {
    display: block;
    position: relative;
    z-index: 999;
  }
}
.search__box {
  flex: none;
  z-index: 4;
}
.search__label {
  width: 100%;
}
.search__label span {
  display: none;
}
.search__label img {
  max-width: 20px;
}
.search__label_input {
  width: 100%;
  font-size: clamp(12px, 0.9722222222vw, 14px);
}
.search__label_input::-moz-placeholder {
  font-size: clamp(12px, 0.9722222222vw, 14px);
}
.search__label_input::placeholder {
  font-size: clamp(12px, 0.9722222222vw, 14px);
}
.search__label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-blue);
  font-size: 18px;
}

/*----------------------------------search--------------------------------*/
/*----------------------------------menu--------------------------------*/
.menu ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 1024px) {
  .menu ul {
    padding-left: 16px;
    font-size: 20px;
  }
}
.menu ul li {
  position: relative;
  transition: color 0.3s ease;
}
.menu ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: var(--color-red);
  transition: width 0.3s ease;
}
.menu ul li:hover {
  color: var(--color-red);
}
.menu ul li:hover::after {
  width: 100%;
}
.menu__close, .menu__logo {
  display: none;
}
@media (max-width: 1024px) {
  .menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    padding: 88px 0px 24px 0px;
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 9;
  }
  .menu__close {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .menu__logo {
    display: block;
    position: absolute;
    width: 128px;
    top: 16px;
    left: 16px;
  }
  .menu._active {
    left: 0;
  }
  .menu ul {
    display: block;
  }
  .menu ul li {
    margin-bottom: 40px;
  }
}

/*----------------------------------menu--------------------------------*/
/*----------------------------------burger--------------------------------*/
.burger {
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    border-radius: 12px;
    position: relative;
    display: block;
    z-index: 9;
    margin-left: 0;
    order: -1;
    cursor: pointer;
    border: 1px solid var(--color-red);
  }
  .burger__line {
    height: 2px;
    width: 20px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background: var(--color-red);
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }
  .burger__line:first-child {
    left: 50%;
    top: 25%;
  }
  .burger__line:nth-child(2) {
    left: 35%;
    top: 50%;
    width: 10px;
  }
  .burger__line:last-child {
    left: 50%;
    top: 75%;
  }
}

/*----------------------------------burger--------------------------------*/
/*----------------------------------breadcrumbs--------------------------------*/
.breadcrumbs {
  margin-bottom: 50px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 5px 15px;
  flex-wrap: wrap;
}
.breadcrumbs__item:not(:last-child) {
  position: relative;
  padding-right: 20px;
}
.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 5px;
  right: 0;
  border-radius: 1px;
  background: rgb(155, 155, 155);
  transform: rotate(45deg);
}
.breadcrumbs__item {
  font-size: 12px;
  line-height: 15px;
  font-size: 12px;
  color: rgb(155, 155, 155);
}
.breadcrumbs__item_link:hover {
  color: var(--color-blue);
}

/*----------------------------------breadcrumbs--------------------------------*/
/*----------------------------------main-section--------------------------------*/
.main-section {
  margin-top: 180px;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .main-section {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
.main-section__content {
  position: relative;
  padding: 5px 75px 5px 40px;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .main-section__content {
    padding: 35px 8px 5px 3px;
  }
}
.main-section__body {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  .main-section__body {
    align-items: start;
  }
}
.main-section__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-section p {
  font-size: clamp(12px, 1.6666666667vw, 24px);
  font-weight: 400;
  line-height: 133%;
  margin-bottom: 32px;
}
.main-section__info {
  flex-basis: 480px;
}
.main-section__image {
  flex-basis: 454px;
}
.main-section__image img {
  width: 100%;
}
@media (max-width: 768px) {
  .main-section__image {
    margin-top: 10px;
  }
}
.main-section__blocks {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
@media (max-width: 1024px) {
  .main-section__blocks {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.main-section__block .main-section__item-img {
  max-width: 175px;
  height: 280px;
}
.main-section__block .main-section__item-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .main-section__block {
    flex-basis: 100%;
  }
}
.main-section__block-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 224px 144px;
  gap: 16px;
  flex-basis: 550px;
}
.main-section__block-one :first-child {
  grid-column: 1/3;
}
.main-section__block-one :first-child .main-section__item-img {
  max-width: 300px;
  height: 180px;
  margin: auto;
}
.main-section__block-one :first-child .main-section__item-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .main-section__block-one :first-child {
    grid-column: 1/2;
  }
}
@media (max-width: 768px) {
  .main-section__block-one {
    flex-basis: 100%;
    grid-template-columns: 1fr;
  }
}
.main-section__block-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  flex-basis: 470px;
}
.main-section__block-two :first-child {
  grid-row: 1/4;
}
@media (max-width: 768px) {
  .main-section__block-two {
    flex-basis: 100%;
    grid-template-columns: 1fr;
  }
}
.main-section__item {
  background-color: #FFF2F2;
  text-align: center;
  overflow: hidden;
  padding: 16px;
  border-radius: 20px;
  width: 100%;
  display: inline-block;
  position: relative;
}
.main-section__item-soon {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 8px;
  display: inline;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
}
.main-section__item__title {
  line-height: 125%;
  letter-spacing: -0.01em;
}
.main-section__item--1 {
  padding: 24px;
}
.main-section__item--1 .main-section__item-title {
  margin-bottom: 40px;
}
.main-section__item--2 {
  background-color: var(--color-gray);
}
.main-section__item--3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: var(--color-gray);
}
.main-section__item--3 .main-section__item-title {
  max-width: 100px;
  text-align: end;
}
.main-section__item--3 .main-section__item-img {
  margin-bottom: -45px;
  margin-left: -20px;
  max-width: 145px;
  height: 145px;
}
.main-section__item--3 .main-section__item-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-section__item--4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: #EAFFF6;
}
.main-section__item--4 .main-section__item-title {
  max-width: 100px;
  text-align: start;
}
.main-section__item--4 .main-section__item-img {
  margin-bottom: -45px;
  margin-right: -20px;
  max-width: 108px;
  height: 173px;
}
.main-section__item--4 .main-section__item-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .main-section__item--4 .main-section__item-img {
    margin-bottom: -55px;
  }
}
.main-section__item--5 {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 1px;
  flex-wrap: wrap;
  background-color: var(--color-gray);
}
.main-section__item--5 .main-section__item-img {
  margin-left: -160px;
  max-width: 363px;
  height: 160px;
}
.main-section__item--5 .main-section__item-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .main-section__item--5 {
    text-align: center;
    justify-content: center;
    min-height: 240px;
  }
  .main-section__item--5 .main-section__item-img {
    margin-left: -90px;
  }
}
.main-section__item--6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
  background-color: var(--color-gray);
  min-height: 100px;
}
.main-section__item--6 .main-section__item-title {
  max-width: 100px;
  text-align: start;
}
.main-section__item--6 .main-section__item-img {
  margin-right: -20px;
  margin-bottom: -60px;
  flex: none;
  max-width: 130px;
  height: 95px;
}
.main-section__item--6 .main-section__item-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .main-section__item--6 .main-section__item-img {
    margin-right: 0px;
    margin-bottom: -20px;
  }
}
@media (max-width: 768px) {
  .main-section__item--6 {
    justify-content: start;
    min-height: 117px;
  }
}
.main-section__item--7 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 1px;
  background-color: #FFF6E9;
}
.main-section__item--7 .main-section__item-title {
  max-width: 120px;
  text-align: end;
}
.main-section__item--7 .main-section__item-img {
  margin-left: -70px;
  flex: none;
  margin-top: -10px;
  max-width: 170px;
  height: 92px;
}
.main-section__item--7 .main-section__item-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .main-section__item--7 {
    min-height: 117px;
  }
}
.main-section__item--8 {
  display: flex;
  gap: 1px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-gray);
}
.main-section__item--8 .main-section__item-img {
  margin-left: -10px;
  margin-top: -20px;
  flex: none;
  max-width: 113px;
  height: 80px;
}
.main-section__item--8 .main-section__item-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .main-section__item--8 .main-section__item-img {
    margin-left: -150px;
  }
}
@media (max-width: 768px) {
  .main-section__item--8 {
    min-height: 117px;
  }
}

/*----------------------------------main-section--------------------------------*/
/*----------------------------------about--------------------------------*/
.about {
  background-color: var(--color-gray);
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .about {
    margin-bottom: 0px;
  }
}
.about__content {
  max-width: 1150px;
  margin: auto;
  padding: 0px 16px;
}
.about__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .about__body {
    flex-wrap: wrap;
  }
}
.about__info {
  flex-basis: 470px;
}
.about__info h3 {
  font-weight: 700;
  font-size: clamp(20px, 1.6666666667vw, 24px);
  line-height: 133%;
  margin-bottom: 16px;
}
.about__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 768px) {
  .about__info {
    order: 1;
  }
}
.about__slider {
  min-width: 0;
  flex-basis: 650px;
}

.about-slider {
  height: 424px;
  margin-bottom: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .about-slider {
    margin-bottom: 0px;
  }
}

.about-slider .swiper-slide {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .about-slider .swiper-slide {
    justify-content: center;
  }
}

.about-slider .swiper-slide.swiper-slide-active {
  z-index: 10;
}

.about-slider .swiper-slide img {
  width: 230px;
  transform: scale(1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.4;
  transform-origin: center;
  z-index: 1;
  position: relative;
}

.about-slider .swiper-slide.swiper-slide-active img {
  transform: scale(1.75);
  opacity: 1;
}
@media (max-width: 1024px) {
  .about-slider .swiper-slide.swiper-slide-active img {
    transform: scale(1.5);
  }
}

.about-slider .swiper-button-next {
  right: 30px;
  background-color: var(--color-black);
  width: 42px;
  border-radius: 50%;
}

/*----------------------------------about--------------------------------*/
/*----------------------------------choose--------------------------------*/
.choose__blocks {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
.choose__block {
  display: grid;
  grid-template-columns: 65px 1fr;
  align-items: center;
  gap: 20px;
  padding: 25px 16px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background: var(--color-white);
  border-radius: 20px;
  width: 32%;
}
@media (max-width: 1024px) {
  .choose__block {
    width: 100%;
  }
}
.choose__block img {
  border-radius: 0px;
  justify-self: center;
}
.choose__block h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  margin-bottom: 5px;
}
.choose__block p {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
}
.choose__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -320px;
}
@media (max-width: 1024px) {
  .choose__body {
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .choose__body {
    flex-wrap: wrap;
  }
}
.choose__image {
  flex-basis: 750px;
  position: relative;
  z-index: 2;
  margin-left: 100px;
  height: 492px;
}
@media (max-width: 1024px) {
  .choose__image {
    margin-left: -16px;
    margin-right: -16px;
    height: 375px;
  }
}
@media (max-width: 768px) {
  .choose__image {
    margin-bottom: 24px;
  }
}
.choose__image::after {
  position: absolute;
  content: "";
  width: 700px;
  height: 430px;
  top: -40px;
  left: -420px;
  background-color: var(--color-gray);
  z-index: -1;
}
@media (max-width: 768px) {
  .choose__image::after {
    left: 0px;
    height: 400px;
  }
}
.choose__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.choose__info {
  flex-basis: 100%;
  background-color: var(--color-gray);
}
@media (max-width: 768px) {
  .choose__info {
    background-color: var(--color-white);
  }
}
.choose__info-inner {
  max-width: 720px;
  padding: 32px 10px 32px 105px;
  margin-left: -70px;
}
@media (max-width: 1280px) {
  .choose__info-inner {
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .choose__info-inner {
    padding: 0px;
    margin-left: 0px;
  }
}
.choose__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}
.choose__contact {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
}
.choose__contact h4 {
  font-weight: 700;
  margin-bottom: 10px;
}
.choose__contact-icon {
  background-color: var(--color-red);
  width: 48px;
  height: 48px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}
.choose__contact-icon img {
  border-radius: 0px;
}
/*----------------------------------choose--------------------------------*/
/*---------------------------------------buy----------------------------*/
.buy__content .subtitle span {
  font-style: normal;
  color: var(--color-red);
  text-transform: none;
}
.buy__content p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}
.buy__text {
  max-width: 600px;
  margin: auto;
}
.buy__blocks {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 24px 16px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .buy__blocks {
    flex-wrap: wrap;
  }
}
.buy__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-basis: 250px;
}
.buy__block-icon {
  background: linear-gradient(100deg, #ff4046 0%, #cd040b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 24px;
  border: 5px solid var(--color-red);
  position: relative;
}
.buy__block-icon::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  background: linear-gradient(227deg, #cd040b 0%, #ff4046 100%);
  z-index: -1;
}
.buy__block-icon img {
  border-radius: 0px;
}

/*---------------------------------------buy----------------------------*/
/*----------------------------------card--------------------------------*/
.card {
  height: 100%;
}

/*----------------------------------card--------------------------------*/
/*----------------------------------accordion--------------------------------*/
.accordion__block {
  margin-bottom: 20px;
}
.accordion__summary {
  list-style: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
  width: 100%;
  background-color: #E0F0FA;
  z-index: 3;
}
.accordion__summary::after, .accordion__summary::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  top: 40%;
  right: 0;
  background-color: var(--color-black);
  transition: transform 0.2s ease-out;
}
.accordion__summary::after {
  transform: rotate(-45deg);
  right: 5px;
}
.accordion__summary::before {
  transform: rotate(45deg);
  right: 12px;
}
.accordion__details[open] .accordion__summary::after {
  transform: rotate(45deg);
}
.accordion__details[open] .accordion__summary::before {
  transform: rotate(-45deg);
}
.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.5s;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #E0F0FA;
  opacity: 0;
  margin-top: -30px;
}
.accordion__content_body {
  overflow: hidden;
}
.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
  opacity: 1;
  margin-top: 0px;
}

/*----------------------------------accordion--------------------------------*/
/*----------------------------------blockquote--------------------------------*/
/*----------------------------------blockquote--------------------------------*/
/*---------------------------------------sliders----------------------------*/
.main-slider,
.about-slider {
  overflow: hidden;
  position: relative;
}

/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.about-slider .swiper-wrapper {
  display: flex;
  align-items: center;
}

.about-slider .swiper-slide {
  height: auto;
}

/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.about-slider .swiper-pagination {
  position: absolute;
}

.about-slider .swiper-button-next {
  right: 30px;
  background-color: var(--color-black);
  width: 42px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .about-slider .swiper-button-next {
    display: none;
  }
}

.swiper-button-next::after {
  display: none;
}

.main-slider .swiper-pagination-bullet {
  opacity: 1;
  background-color: var(--color-white);
  transition: All 0.5s ease 0s;
  width: 9px;
  height: 9px;
  border: 1px solid inherit;
}

.main-slider .swiper-pagination-bullet-active {
  background-color: var(--color-red);
  border: 1px solid var(--color-white);
}

/*---------------------------------------sliders----------------------------*/
/*----------------------------------popup--------------------------------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 999;
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  max-width: 600px;
  background-color: var(--color-white);
  padding: 30px;
  position: relative;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: all 0.8s ease 0s;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.popup__title {
  color: #000000;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 40px;
  color: red;
  transform: rotate(45deg);
}

/*----------------------------------popup--------------------------------*/
/*----------------------------------form--------------------------------*/
.form {
  max-width: 600px;
  margin: 0 auto;
  color: var(--color-black);
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 5px;
  margin-bottom: 16px;
  position: relative;
}
.form._sending::after {
  opacity: 1;
  visibility: visible;
}
.form__label {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}
.form__input, .form__textarea {
  width: 100%;
  background-color: #f1d5f9;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.form__input:focus, .form__textarea:focus {
  box-shadow: 0 0 15px var(--color-blue);
}
.form__input._error, .form__textarea._error {
  border: 1px solid red;
}
.form__error {
  font-size: 16px;
  color: red;
  opacity: 0;
}
.form__error.view {
  opacity: 1;
}
.form__textarea {
  resize: none;
  margin-bottom: 16px;
}
.form__button {
  width: 100%;
  padding: 16px;
  background-color: var(--color-blue);
  cursor: pointer;
  color: var(--color-white);
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
}

.file__item {
  position: relative;
}
.file__input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__button {
  background-color: var(--color-blue);
  color: var(--color-white);
  display: inline-flex;
  padding: 5px;
  border-radius: 5px;
}
.file__preview {
  display: inline-block;
  max-width: 100px;
  margin-top: 16px;
}
.file__preview img {
  width: 100%;
}

/*----------------------------------form--------------------------------*/
/*----------------------------------radio-buttons--------------------------------*/
.radio-button input[type=radio] {
  display: none;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  line-height: 156%;
  color: #ADB3BF;
}

.custom-radio {
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-blue);
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.radio-button:hover .custom-radio {
  border-color: #007BFF;
}

.radio-button input[type=radio]:checked + .custom-radio {
  border-color: #007BFF;
  color: var(--color-white);
}

.radio-button input[type=radio]:checked + .custom-radio::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--color-blue);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*----------------------------------radio-buttons--------------------------------*/
/*----------------------------------checkbox--------------------------------*/
.checkbox {
  display: inline-block;
}
.checkbox._error .checkbox__label::before {
  border: 1px solid red;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: rotate(45deg) scale(1);
}
.checkbox__label {
  font-size: clamp(12px, 0.9722222222vw, 14px);
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.checkbox__label__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background: #fff;
  position: relative;
}
.checkbox__label::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  border: solid violet;
  border-width: 0 2px 2px 0;
  top: 0;
  left: 5px;
  transform: rotate(45deg) scale(0);
  transition: transform 0.2s ease-in-out;
}

/*----------------------------------checkbox--------------------------------*/
/*----------------------------------select--------------------------------*/
.select {
  background: var(--color-black);
  color: #ADB3BF;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  line-height: 156%;
}
.select__option {
  cursor: pointer;
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  background: #F1F1F1;
  border-radius: 5px;
  line-height: 120%;
  font-size: clamp(14px, 1.25vw, 18px);
  padding: 16px 32px 16px 16px;
}
.dropdown__button::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 16px;
  transform: translateY(-50%);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--color-black);
  pointer-events: none;
  transform: rotate(45deg);
}
.dropdown__button::before {
  content: "";
  position: absolute;
  top: 40%;
  right: 15px;
  transform: translateY(-50%);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--color-black);
  pointer-events: none;
  transform: rotate(-45deg);
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 160px;
  left: 0;
  top: 50px;
  z-index: 1;
  background: #F1F1F1;
  padding: 16px;
  border-radius: 10px;
}
.dropdown__list--active {
  display: block;
}
.dropdown__list-item {
  border-bottom: 0;
  cursor: pointer;
}
.dropdown__list-item:not(:last-child) {
  margin-bottom: 1rem;
}
.dropdown__list-item:hover {
  color: #00aa4b;
}
.dropdown__input-hidden {
  display: none;
}

/*----------------------------------select--------------------------------*/
/*---------------------------------------tabs----------------------------*/
.tabs {
  display: flex;
  flex-direction: column;
}

.tab-labels {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}
.tab-labels__inner {
  border: 1px solid var(--color-red);
  padding: 4px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.tab-label {
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
  text-align: center;
  border-radius: 16px;
  text-transform: uppercase;
  color: var(--color-red);
  width: 220px;
  font-weight: 500;
  font-size: clamp(12px, 0.9722222222vw, 14px);
  line-height: 171%;
}
@media (max-width: 768px) {
  .tab-label {
    width: 165px;
    padding: 8px 5px;
  }
}

.tab-label:hover {
  background-color: rgba(226, 226, 226, 0.4392156863);
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content .easy__info {
  flex-basis: 1280px;
}

.tab-content .easy__image {
  flex-basis: 600px;
}

#tab-1:checked ~ .content-1,
#tab-2:checked ~ .content-2,
#tab-3:checked ~ .content-3 {
  display: block;
}

#tab-1:checked ~ .tab-labels label[for=tab-1],
#tab-2:checked ~ .tab-labels label[for=tab-2],
#tab-3:checked ~ .tab-labels label[for=tab-3] {
  background-color: var(--color-red);
  color: var(--color-white);
}

input[type=radio] {
  display: none;
}

/*---------------------------------------tabs----------------------------*/
/*----------------------------------footer--------------------------------*/
.footer {
  padding: 20px 0px;
}
.footer__body {
  gap: 10px;
}

/*----------------------------------footer--------------------------------*//*# sourceMappingURL=styles.css.map */